body {
  font-family: helvetica, sans-serif;
}

button {
  background-color: transparent;
  color: #CCC;
  border: none;
}

input {
  background-color: transparent;
  border: 1px solid #0000;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

input:hover {
  border: 1px solid #3333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.proof-area {
  font-family: Times new roman, serif;
  background-color: #F4F4F4;
  padding: 10px;
  border-radius: 5px;
  text-align: center;

  min-height: 60vh;
  position: relative;

  /* for vertical scroll */
  overflow: auto;
  white-space: nowrap;
}

.proof {
  display: inline-block;
  position: relative;
}

.proof-area > .proof, .proof-area > .assumption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: inherit;
}

.premises {
}

.premise {
  display: inline-block;
  position: relative;
  padding: 5px;
}

.premises .premise:after {
  border-top: 1px solid black;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.premises .premise:first-child:after {
  left: 35%;
}

.premises .premise:nth-last-child(2):after {
  right: 35%;
}

.premises .premise:last-child:after {
  right: 0%;
}

.conclusion {
  text-align: center;
  padding-top: 5px;
}

.statement {
  position: relative;
  padding: 0.5em;
}

.discharge:hover {
  border-radius: 2px;
  background-color: #00F3;
}

.discharge-off {
  color: #CCC;
}

.assumption-line {
  border-bottom: 1px dashed #3333;
  border-left: none;
  border-top: none;
  /*
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  */
  height: 10px;
  width: 75%;
  margin-bottom: 5px;
}

.assumption-line:hover {
  border-bottom: 1px solid #0A0A;
}

.add-premise:hover {
  border-radius: 2px;
  background-color: #0F02;
  color: green;
}

.remove-premise:hover {
  border-radius: 2px;
  background-color: #F002;
  color: red;
}

